<div class="comments">
  <h3>Comentarios</h3>
  
  <img
    src="https://media.npr.org/assets/img/2023/01/14/this-is-fine_custom-b7c50c845a78f5d7716475a92016d52655ba3115.jpg?s=1100&c=50&f=jpeg"
    alt="image"
  />

  <div class="comment">
    <h4>Nombre del Comentador</h4>
    <p class="meta">29 de junio de 2024</p>
    <p>
      Este es un comentario sobre la entrada del blog. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit.
    </p>
  </div>

  <div class="comment">
    <h4>Nombre del Comentador</h4>
    <p class="meta">29 de junio de 2024</p>
    <p>
      Otro comentario sobre la entrada del blog. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
    </p>
  </div>
</div>
